body
{width 100%;
margin: 0px;
padding:0px; 0px;
text-align:center;
background-color: white;
color:black;
}

header {
	margin: 0px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 8px;
	background-color: black;
	color:white;
	text-align:center;
}

article{
	border: 2px black solid;
	margin: 100px;
	padding-bottom: 200px;
}

li.navbar {
	list-style: none;
	margin-right: 64px;
	padding-left: 80px;
	padding-right: 80px;
	background-color: red;
	float: right;
    font-size:35px;
    border-top: 5px red;
    border: 5px solid black;
border-radius: 40px 10px 40px 10px;
text-decoration: none;

}


p.bodybuildingp
{
	
	margin-left: 100px;
	margin-right: 100px;
	text-align: center
}

li.navbar a:visited {
	text-decoration: none;
	color: white;
}
li.navbar a:link{
	list-style:none;
	text-decoration: none;
	color: white;
	

}
h2 {
	margin-top: 50px;
	text-align:left;
	margin-left: 100px;
	text-decoration:underline;
}

nav {
	background-color: red;
	padding-top: 16px;
	padding-bottom: 32px;
	border-radius: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border-bottom: 4px red;
	border-right: 5px red;
	}



img.bilder{
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 5px 5px 15px 5px #FF0A00;

}


table{
	width: 50%;
	margin-left:25%;
	margin-right:25%;
	padding-bottom:15px;
}

img.bitcoinimg {
	border-radius: 10px;
}



p.Aktierp {
	
	
	margin-left: 100px;
	margin-right: 100px;
}

img.musikbilder{
	margin: 10px auto 10px auto;
	width:100px;
	height:100px;
	border: 15px white solid;
	border-radius: 10px;
}
img.musikbilder:hover {
	border-color:red;
}

footer {
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: center;
	border: 10px solid black;
	color:black;
	border-top-right-radius: 250px;
	border-top-left-radius: 250px;
	margin-left:400px;
	margin-right:400px;
	font-size:12px;
	

}

td{
	border: 3px gray outset;
}

td.Aktierbilder
{
	border: 0px;
}

h2.musik{
	text-align:center;
}

th {
	background-color:red;
}

div{
	margin-top: 50px;
	
	text-decoration:underline;
	text-align:center;
	font-size: 24px;
	padding-bottom: 15px;
}

img.ellgot{
float:right;}

img.timmy{
	float:left;
margin-left: 100px;}

img.andre {
	float:right;
margin-right: 100px;}

h3 {
	text-align:right;
	margin-right: 175px;
}
